<!DOCTYPE html>
<html>
<head>
    <title>Survey</title>
    <style>
        .error {
            color: red;
        }
        .hidden {
            visibility: hidden;
            position: absolute;
        }
    </style>
    <script>
        if (performance.navigation.type == 1) {
        // This is a page reload
            fetch('/reset', {
                method: 'POST'
            });
            location.replace("/");
        }
        window.onload = function() {
            var input = document.querySelector('input[type="text"]');
            if(input) input.focus();
        };
    </script>
</head>
<body>
    <form action="" method="post">
        <p>{{ question.prompt }}{% if question.mandatory %}<strong>*</strong>{% endif %}</p>
        {% if question.type == 'text' %}
                <input type="text" name="response" value="{% if current_answer is not none %}{{ current_answer }}{% endif %}">
        {% elif question.type == 'choice' %}
            {% for option in question.options %}
                <input type="radio" name="response" value="{{ option }}" {% if option == current_answer %}checked{% endif %}>
                <label for="{{ option }}">{{ option }}</label><br>
            {% endfor %}
        {% elif question.type == 'range' %}
                {% for i in range(question.range_min, question.range_max+1) %}
                        <input type="radio" id="option{{i}}" name="response" value="{{i}}" {% if i == current_answer|int %}checked{% endif %}>
                        <label for="option{{i}}">{{i}} {% if i == question.range_min %} ({{question.range_min_label}}){% elif i == question.range_max %} ({{question.range_max_label}}){% endif %}</label><br>
                {% endfor %}
        {% endif %}
        <input type="submit" class="hidden" name="action" value="Next">
        <input type="submit" name="action" value="Back">
        <input type="submit" name="action" value="Next">
        {% if error %}
            <p class="error">{{ error }}</p>
        {% endif %}
    </form>
</body>
</html>

