<!DOCTYPE html>
<html>
<head>
    <title>Survey</title>
</head>
<body>
    <form action="" method="post" id="surveyForm">
        <p>{{ question.prompt }}</p>
        {% if question.type == 'text' %}
            <input type="text" name="response">
        {% elif question.type == 'choice' %}
            {% for option in question.options %}
                <input type="radio" name="response" value="{{ option }}" onchange="document.getElementById('surveyForm').submit();">
                <label for="{{ option }}">{{ option }}</label><br>
            {% endfor %}
        {% elif question.type == 'range' %}
            <input type="range" id="slider" name="response" min="1" max="10" oninput="updateSliderValue(this.value)">
            <p>Value: <span id="sliderValue">5</span></p>  <!-- Default value -->
        {% endif %}
        <input type="submit" value="Next">
    </form>
    <script>
        function updateSliderValue(val) {
            document.getElementById('sliderValue').innerText = val;
        }
    </script>
</body>
</html>

